/** {*/
/*    border: 1px solid black;*/
/*}*/

@font-face {
    font-family: 'Neue Haas';
    src: url("./assets/fonts/NeueHaas/NeuehaasDisplayRoman.ttf");
}

body {
    background: #FAF9F9;
    width: 100%;
    height: 100%;
}

.wrapper {
    width: 100%;
    min-height: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.header-main-aside-wrapper {
    background: #FFF;
    box-shadow: 0 0 10px black;
    display: flex;
    flex-direction: row;
    align-items: center;
    flex: 1 1 auto;
    width: 100%;
    height: 100%;
    max-width: 1400px;
}

.aside-container {
    background: #001E89;
    min-width: 300px;
    height: 100%;
}

.aside {
    z-index: 10;
    width: 100%;
    min-height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.atomtex-logo {
    margin-bottom: 70px;
    width: 245px;
    height: 100px;
    background: url("./assets/logo/atomtex_logo.png") center center no-repeat;
    background-size: contain;
    cursor: pointer;
}

.aside-title {
    font-family: 'Neue Haas', serif;
    color: #FFF;
    font-weight: 700;
    font-size: 30px;
    line-height: 38px;
}

.header-main-wrapper {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.header-container {
    overflow: hidden;
    background: #FFF;
    box-shadow: -2px 0 5px black;
    width: 100%;
    height: 80px;
}

.header {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.search-container {
    min-width: 530px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.search-bar {
    display: inline-block;
    padding: 0 10px 0 38px;
    font-family: "Oswald", sans-serif;
    font-size: 18px;
    color: #404040;
    width: 550px;
    height: 37px;
    background: #ECEDED;
    border-radius: 5px;
}

.btn-container {
    margin-left: 1px;
    height: 100%;
    display: inline-flex;
    align-items: center;
    justify-content: space-around;
}

.search-line {
    height: 37px;
    margin-left: -30px;
}

.search-logo {
    display: flex;
    z-index: 999;
    width: 23px;
    height: 23px;
    background: url("./assets/logo/loupe.svg") no-repeat;
    background-size: contain;
    cursor: pointer;
}

.search-logo:hover {
    filter: invert(12%) sepia(53%) saturate(5399%) hue-rotate(225deg) brightness(89%) contrast(114%);
}

.btn-wrapper {
    width: 100%;
}

.gear-logo {
    background: url("./assets/logo/gear.svg") no-repeat;
    margin: 0 25px 0 50px;
    background-size: contain;
    width: 35px;
    height: 35px;
    cursor: pointer;
}

.gear-logo:hover {
    filter: invert(12%) sepia(53%) saturate(5399%) hue-rotate(225deg) brightness(89%) contrast(114%);
}

.nav {
    width: 200px;
    margin: 30px;
    align-self: flex-start;
}

.categories {
    font-family: "Oswald", sans-serif;
    font-weight: 500;
    font-size: 25px;
    line-height: 31px;
    color: #FFF;
}

.category-item {
    margin: 10px 0;
}

.category-item:hover {
    cursor: pointer;
    color: #B8C9E6;
}

.printers:before {
    margin-right: 10px;
    filter: invert(100%) sepia(100%) saturate(2%) hue-rotate(151deg) brightness(106%) contrast(101%);
    content: '';
    display: inline-block;
    width: 20px;
    height: 20px;
    background: url("./assets/logo/priner.png") center;
    background-size: contain;
}

.pc:before {
    margin-right: 10px;
    filter: invert(100%) sepia(100%) saturate(2%) hue-rotate(151deg) brightness(106%) contrast(101%);
    content: '';
    display: inline-block;
    width: 20px;
    height: 20px;
    background: url("./assets/logo/PC.png") center;
    background-size: contain;
}

.lan:before {
    margin-right: 10px;
    filter: invert(100%) sepia(100%) saturate(2%) hue-rotate(151deg) brightness(106%) contrast(101%);
    content: '';
    display: inline-block;
    width: 20px;
    height: 20px;
    background: url("./assets/logo/lan.png") center;
    background-size: contain;
}

.box:before {
    margin-right: 10px;
    filter: invert(100%) sepia(100%) saturate(2%) hue-rotate(151deg) brightness(106%) contrast(101%);
    content: '';
    display: inline-block;
    width: 20px;
    height: 20px;
    background: url("./assets/logo/box.png") center;
    background-size: contain;
}

.main-container {
    width: 100%;
    padding: 20px 40px;
    height: 100%;
}

.main {
    font-family: "Neue Haas", sans-serif;
    font-weight: 500;
    color: black;
    font-size: 20px;
}

.address-container {
    margin: 0 0 50px 0;
}

.address {
    cursor: pointer;
    color: #001E89;
    font-size: 15px;
    font-weight: bold;
}

.start-text {
    text-align: center;
    font-size: 30px;
}

*:link {
    color: #FFF;
    text-decoration: none;
}

*:visited {
 text-decoration: none;
    color: #FFF;
}

.category-item a:hover{
    color: #B8C9E6;
}

.bread-link {
    color: #001E89;
}

.article-list_item {
    margin-bottom: 10px;
}

.article-list_item-link {
    color: #000;
    font-family: "Neue Haas", sans-serif;
    font-size: 20px;
}

.article-list_item-link:visited {
    text-decoration: none;
}

.article-list_item-link:hover {
    color: #B8C9E6;
}

.article-item {
    margin: 10px;
    text-align: left;
    font-size: 20px;
}

.twain-setup-img {
    height: 500px;
}

.twain-pusk-img {
    height: 150px;
}

.twain-utility-window-img {
    height: 200px;
}

.img {
    display: block;
    margin: 20px;
}